/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.carousel {

 
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {

  
}
.carousel-inner > .item > img {

  top: 0;
  left: 0;
  

    height: 200px;
    overflow: hidden;

 
}